/*Overview of hierarchy:
gui_floater
    title_bar
        corner_icon
            corner_icon_inside
    list*/

body{
    margin:0px;
    overflow:hidden;
}

/*Svgcontainer*/
#content_svg { 
    position:absolute;
    width:100vw;
    height:100vh;
    z-index:0;
}

/*Ul: #gui_floater*/
#gui_floater {
    z-index: 2;
    padding:0;
    margin:0; 
    border:0;
    display:inline-block;
    position:fixed;
    top:10vh;
    border:solid;
    background-color:white; 
    height:auto;
}
#gui_floater:hover{
    border-color:#3584e4;
}

/*Docker Titlebar */
.title_bar{
    /*border:solid;*/
    display:flex;
    justify-content: space-between;
    align-items: center;
    background-color:white; 
    width:100%;

    box-sizing: border-box;
}
.title_bar:hover {
    cursor: move;
    background-color:rgb(165, 215, 255);
}
.title_bar label{
    cursor: move;
    -webkit-user-select: none; 
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.title_bar label{
    font-weight: bold;
    font-size:25px;
}
#corner_icon{
    padding:0;
    margin:5px;
    display: flex;
    justify-content: center; 
    align-items: center;
    border:3px solid black;
    height: 30px;
    width: 35px;
    background-color: white;
}
#corner_icon:hover, #corner_icon:hover #corner_icon_inside{background-color:#3584e4;}
#corner_icon_inside{
    border:3px solid black;
    height: 0px;
    width: 15px;
    background-color:white;
}

/*Docker items*/
button{
    height:40px;
    font-size: 20px;
}
li {
    list-style-type: none;
  }
.guiLists{
    display:block;
    /* overflow:scroll; */
}
.guiLists li{
    display:block;
    height:50px;
    position: relative;
    padding:5px;
    font-size:20px;
    list-style-type: none;
    border-style:solid;
    border-width:1px;
    border-color:lightgray;
    
}
.guiLists li p{
    display:inline-block;
    vertical-align:middle; 
}
.guiLists li label{
    display:inline-block;
    vertical-align:middle; 
    line-height: 50px;
} 

/*Unselectanle text*/
.guiLists li label,
.guiLists li p {    
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

/*right aligned docker elements*/
.guiLists li input, 
.guiLists li button {
    position: absolute;
    right: 30px;
    top: 50%; 
    transform: translateY(-50%); 
} 
.guiLists li input[type="checkbox"]{
    width:20px;
    height:20px;
}
.guiLists li input[type="range"]{
    width:75px
}





  /*Mobile*/
.burger {
    z-index: 2;
    display: none;
    position:absolute;
    right: 0px;
    top: 0;
    height: 50px;
    width:50px;
    background-color: rgba(255, 255, 255, 0.9);
    background-size: 30px 30px;
    border-style:solid;
    border-color: black;

}  
.burger div{
    width:24px;
    height:5px;
    margin:5px;
    background-color: black;
}

.burger:hover {
    border-color:#3584e4;
}
.burger:hover div{
    background-color: #3584e4;;
}
.modal{
    right: 0;
    top: 0;
    z-index: 0;
    display:none;
    position: absolute;
    width:100vh;
    height:100vh;
    background-color:hsla(0, 0%, 100%, 0.8)
}
@media screen and (max-width: 540px) {
/*
    #gui_floater
        gui         top = "10vh"
        gui         left = "0"
    
    #mainMenuModal
        modal       display = "none";
    
    .guiLists
        links       display = "block";
*/


    .guiLists{
        z-index: 2;
        display:none;
        height: 100vh;
        flex-direction: column; 
        justify-content: center;
        align-items:center; 
        border:10px;  
        overflow:scroll
    }
    .guiLists li{
        display:none;
        width:100%;
        padding:10px;
        z-index: 2;
        
    }
    .guiLists li p,
    .guiLists li label{
        padding:5px;
        display:flex;
        align-self:center;
        vertical-align:middle;
        line-height: 50px;
    }

    .burger{
        display:block;
    }
    /*Animating burger lines into cross*/
    .burger.active div:nth-child(1){
        animation: bubble 0.1s linear 1 normal forwards;
        animation-name: transitionBurgerTopDown;
    }
    .burger.active div:nth-child(2){
        display:none;
    }
    .burger.active div:nth-child(3){
        animation: bubble 0.1s linear 1 normal forwards;
        animation-name: transitionBurgerBottomUp;
    }

    #gui_floater{
        top:0px;
        right:0px;
        width:100vw;
        height:10vh;
        border:none;
        background-color:none; 
    }
    .title_bar{
        display:none;
    }
    .modal{display:none;}
} 

@keyframes transitionBurgerUp{
    from{
        transform: rotate(0deg); 
        transform-origin: center;   
    }
    to{
        transform: rotate(45deg); 
        transform-origin: center;    
    }
}

/*Burger transtition animation*/
@keyframes transitionBurgerTopDown{
    from{
        width:24px;
        /* transform:translate(0px,0); */
        transform: rotate(0deg)translate(0px,0px); 
        transform-origin: top right;   
    }
    to{
        width:34px;
        /* transform:translate(150px,0); */
        transform: rotate(-45deg)translate(-4px,-12px);
        transform-origin: top right;    
    }
}
@keyframes transitionBurgerBottomUp{
    from{
        width:24px;
        transform: rotate(0deg)translate(0px,0px); 
        transform-origin: bottom right;   
    }
    to{
        width:34px;
        transform: rotate(45deg)translate(-4px,12px);
        transform-origin: bottom right;    
    }
}

